{% load static from staticfiles %}
<!DOCTYPE html >
<html lang="en" style="scroll-behavior: smooth;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard-Admin</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/local.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <link id="gridcss" rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/dark-bootstrap/all.min.css" />

    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>
</head>
<body>
    <div id="wrapper">
          <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#start">Admin Panel</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="active" class="nav navbar-nav side-nav">
                    <li class="selected"><a href="#start"><i class="fa fa-bullseye"></i> Dashboard</a></li>
                    <li><a href="#movements"><i class="fa fa-bar-chart-o"></i> Movements</a></li>
                    <li><a href="#requests"><i class="fa fa-globe"></i> Requests</a></li>
                    <li><a href="profile"><i class="fa fa-user"></i> Profile</a></li>
                    <li><a href="admin_statistics"><i class="fa fa-bar-chart"></i> Statistics</a></li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">2</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">2 New Messages</li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-bell"></i></span>
                                    <span class="message">Security alert</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-bell"></i></span>
                                    <span class="message">Security alert</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Go to Inbox <span class="badge">2</span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>{{ request.session.username }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="profile"><i class="fa fa-user"></i> Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="log_out"><i class="fa fa-power-off"></i> Log Out</a></li>

                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <!-- <li>
                        <form class="navbar-search">
                            <input type="text" placeholder="Search" class="form-control">
                        </form>
                    </li> -->
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="row" id='start'> 
                <div class="col-lg-12">
                    <h1>Dashboard <small>Statistics and more</small></h1>
                    <div class="alert alert-dismissable alert-warning">
                        <button data-dismiss="alert" class="close" type="button">&times;</button>
                        Welcome to the admin dashboard! Feel free to review all pages and modify the layout to your needs. 
                        <br />
                        This theme uses the <a href="https://www.shieldui.com">ShieldUI</a> JavaScript library for the 
                        additional data visualization and presentation functionality illustrated here.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Visits Based on a 10 days data</h3>
                        </div>
                        <div class="panel-body">
                            <div id="shieldui-chart1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-rss"></i> Feed</h3>
                        </div>
                        <div class="panel-body feed">
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-comment"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        <a href="#">John Doe</a> commented on <a href="#">What Makes Good Code Good</a>.
                                    </div>
                                    <div class="time pull-left">
                                        3 h
                                    </div>
                                </div>
                            </section>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        <a href="#">Merge request #42</a> has been approved by <a href="#">Jessica Lori</a>.
                                    </div>
                                    <div class="time pull-left">
                                        10 h
                                    </div>
                                </div>
                            </section>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-plus-square-o"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        New user <a href="#">Greg Wilson</a> registered.
                                    </div>
                                    <div class="time pull-left">
                                        Today
                                    </div>
                                </div>
                            </section>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        Server fail level raises above normal. <a href="#">See logs</a> for details.
                                    </div>
                                    <div class="time pull-left">
                                        Yesterday
                                    </div>
                                </div>
                            </section>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-archive"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        <a href="#">Database usage report</a> is ready.
                                    </div>
                                    <div class="time pull-left">
                                        Yesterday
                                    </div>
                                </div>
                            </section>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text" id="movements">
                                        <a href="#">Order #233985</a> needs additional processing.
                                    </div>
                                    <div class="time pull-left">
                                        Wednesday
                                    </div>
                                </div>
                            </section>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-arrow-down"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        <a href="#">Load more...</a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-lg-12">
                    <div class="panel panel-primary" >
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Movements </h3>
                        </div>
                        <div class="panel-body">
                                <table class="table table-sm table-dark">
                                        <thead>
                                          <tr>
                                            <th scope="col">Movement Id</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">In Lab</th>
                                            <th scope="col">Out Lab</th>
                                            <th scope="col">User Id</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            {% for row in table %}
                                          <tr>
                                            {% for r in row %}
                                                <td>{{r}}</td>
                                            {% endfor %}
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                      </table>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="requests">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Requests </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-sm table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Request_id</th>
                                        <th scope="col">Request for</th>
                                        <th scope="col">Description</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in info %}
                                    <tr>                                       
                                        {% for r in row %}
                                            <td>{{r}}</td>
                                        {% endfor %}
                                        <td>
                                            <form action="request_admin" method="POST">
                                                {% csrf_token %}
                                                <button class="btn btn-xs" id="approve" type="submit" value="{{ row.0 }}" name="accept">Accept <i class="fa fa-check-circle"></i></button> 
                                                <button class="btn btn-xs" id="decline" type="submit" value="{{ row.0 }}" name="decline">Decline <i class="fa fa-times-circle"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->

    <script type="text/javascript"> 
        jQuery(function ($) {
            var performance = [12, 43, 34, 22, 12, 33, 4, 17, 22, 34, 54, 67],
                visits = [123, 323, 443, 32],
                traffic = [
                {
                    Source: "Direct", Amount: 323, Change: 53, Percent: 23, Target: 32
                },
                {
                    Source: "Refer", Amount: 345, Change: 34, Percent: 45, Target: 567
                },
                {
                    Source: "Social", Amount: 567, Change: 67, Percent: 23, Target: 456
                },
                {
                    Source: "Search", Amount: 234, Change: 23, Percent: 56, Target: 890
                },
                {
                    Source: "Internal", Amount: 111, Change: 78, Percent: 12, Target: 345
                }];
                traffic1 = [
                {
                    Source: "Direct", Amount: 323, Change: 53, Percent: 23, Target: '<button class="btn btn-xs" id="approve">Accept <i class="fa fa-check-circle"></i></button> <button class="btn btn-xs" id="decline">Decline <i class="fa fa-times-circle"></i></button>'
                },
                {
                    Source: "Refer", Amount: 345, Change: 34, Percent: 45, Target: '<button class="btn btn-xs" id="approve">Accept <i class="fa fa-check-circle"></i></button> <button class="btn btn-xs" id="decline">Decline <i class="fa fa-times-circle"></i></button>'
                },
                {
                    Source: "Social", Amount: 567, Change: 67, Percent: 23, Target: '<button class="btn btn-xs" id="approve">Accept <i class="fa fa-check-circle"></i></button> <button class="btn btn-xs" id="decline">Decline <i class="fa fa-times-circle"></i></button>'
                },
                {
                    Source: "Search", Amount: 234, Change: 23, Percent: 56, Target: '<button class="btn btn-xs" id="approve">Accept <i class="fa fa-check-circle"></i></button> <button class="btn btn-xs" id="decline">Decline <i class="fa fa-times-circle"></i></button>'
                },
                {
                    Source: "Internal", Amount: 111, Change: 78, Percent: 12, Target: '<button class="btn btn-xs" id="approve">Accept <i class="fa fa-check-circle"></i></button> <button class="btn btn-xs" id="decline">Decline <i class="fa fa-times-circle"></i></button>'
                }];
            $("#shieldui-chart1").shieldChart({
                theme: "dark",

                primaryHeader: {
                    text: "Visitors"
                },
                exportOptions: {
                    image: false,
                    print: false
                },
                dataSeries: [{
                    seriesType: "area",
                    collectionAlias: "Q Data",
                    data: performance
                }]
            });

            $("#shieldui-chart2").shieldChart({
                theme: "dark",
                primaryHeader: {
                    text: "Traffic Per week"
                },
                exportOptions: {
                    image: false,
                    print: false
                },
                dataSeries: [{
                    seriesType: "pie",
                    collectionAlias: "traffic",
                    data: visits
                }]
            });

            $("#shieldui-grid2").shieldGrid({
                dataSource: {
                    data: traffic1
                },
                // sorting: {
                //     multiple: true
                // },
                rowHover: false,
                paging: false,
                columns: [
                { field: "Source", width: "170px", title: "Request" },
                { field: "Amount", title: "Placed By" },                
                { field: "Percent", title: "Description", format: "{0} %" },
                { field: "Target", title: " " },
                ]
            });            
        });        
    </script>
</body>
</html>
